<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Wine Price - ML APP</title>
  <form action="{{ url_for('predict')}}" method="post"></form>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

  <script src="/static/js/script.js"></script>

</head>
<body>


  <div class="jumbotron"> 
    <form name="calculate" action="{{ url_for('predict')}}" method="POST">          

        <h4><strong>Describe your wine</strong></h4>
        <hr class="my-4">
      <div class="input-container">
        <textarea name="message" type="text" placeholder="Try again, be very descriptive.." id="form10" class="md-textarea form-control" rows="5"></textarea>
      </div>
      <br>
      <div>
      <button type="submit" class="btn btn-secondary btn-lg btn-block" value="predict"  id="calculate" >Calculate</button>
    </div>
    </form>
    <br>
    <div><h6><i>Result will appear below (after you press calculate)</i></h6></div>
  </div>
  
    <!-- Display Results -->
    <div class="jumbotron">
      <div class="results" id="result">
        {% if prediction == 1%}
        <!-- <script>
          $(function () {
            location.hash = "#{{ section }}"
          });
        </script> -->
        <h4 style="color:rgb(2, 76, 53);text-align:justify;">This would likely be an expensive wine!</h4>

        {% elif prediction == 0%}
        <!-- <script>
          $(function () {
            location.hash = "#{{ section }}"
          });
        </script> -->
        <h4 style="color:rgb(230, 9, 9);text-align:justify;">There is either not enough information or not the right charactertics described to suggest this would be an expensive wine... </h4>
        {% endif %}
      </div>
                
    </div>
  </div>
  <a href="http://127.0.0.1:5000/">Back to Home</a>


</body>
</html>